/* About Page Styling */
.about-page{
    width: inherit;
    height: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    margin-top: 30px;
    margin-bottom: 20px;
}
.about-image img{
    width: 40%;
    height: auto;
    display: block;
    margin-top: 20px;
    float: right;
}
.about-page > .about-container{
    width:60%;
    margin-left:30px;
    text-align: justify;
    height: inherit;
}
.about-page h2{
    text-align: justify;
    font-size: 35px;
}
.about-page p{
    font-size: 18px;
    margin-top: 15px;
    text-align: justify;
    width: 80%;
    padding: 10px;
    font-size: 18px;
}
.about-page, .underline{
    margin-left: 15px;
    margin-top: 5px;
}
