/* Contact Form Styling */
.contact-page{
    background-color: #f2f2f2;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.image-between-sections{
    overflow: hidden;
    width: 100%;
    height: auto;
}

.contact-page > .description{
    text-align: justify;
    width: 80%;
    padding: 10px;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.contact-page > .underline{
    margin: auto;
    height: 3px;
    margin-top: 3px;
    width: 50px;
}
.contact-page h2{
    text-align: center;
    font-size:30px;
    margin-top: 10px;
}
.contact-form{
    margin: auto;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.contact-form label, .contact-form input, .contact-form textarea{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 95%;
    padding: 10px;
}
.contact-form button{
    width: 90%;
    padding: 10px;
    position: relative;
    left: 15px;
    right: 15px;
    margin-top: 15px;
    background-color:rgb(245, 48, 48);
    border: 2px solid white;
    color: white;
}
.contact-form button:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
}

.contact-info a{
    text-decoration: none;
    color: rgb(216, 44, 44);
}
.contact-info a:hover{
    text-decoration: underline;
    color: rgb(238, 44, 44);
}
.contact-info{
    text-align: center;
    font-size: 20px;
}
.contact-info i{
    color: rgb(238, 114, 114);
    font-size: 15px;
    margin-right: 5px;
}
.contact-info i:hover{
    color: rgb(216, 44, 44);
}
