/* General Styling */
html{
    scroll-behavior: smooth;
    width: 100%;
}
body{
    overflow-x: hidden;
    margin: auto;
}

/* Navigation Bar Styling */
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-bar{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* space between icons and logo */
    align-items: center;
    padding: 10px 20px;
    background-color: #f53636;
}

.nav-links{
  list-style-type: none;
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: right;
}
.nav-links a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
.nav-links a:hover{
    color: #ff0000;
    background-color: whitesmoke;
    padding:10px;
    border-radius: 10px;
}

/* HAMBURGER ICON */
.menu-icon, i{
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    display: none;
}
/* Hide Checkbox */
#menu-toogle{
    display: none;
}

/* Header Logo Styling */
.logo-wrapper{
    width:130px;
    height:120px;
    flex: 1;
    display: flex;
    justify-content: center;
}
.logo{
    width: 140px;
    height: 130px;
    border-radius: 50%;
}
.underline{
    width:100px;
    height: 6px;
    background-color: #ff0000;
    margin:auto;
}

.home-page,.about-page, .service-page, .testimonials-page, .contact-page{
    scroll-margin-top: 170px; /* adjust to match your nav bar height */

}

.slogan{
    width: 90%;
    height: 35vh;
    background-color: #f53636;
    margin: auto;
}
.slogan h3{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Arial Black', Gadget, sans-serif;
    padding-top: 50px;
    font-weight: bold;
    padding-bottom: 30px;
}

.image-btn img{
    width: 80%;
    max-width: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
    height: 400px;
    padding-top: 20px;
}

/* Footer Styling */
.footer{
    background-color: #c7c2c2;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.Links-Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav-link a{
    text-decoration: none;
    color:rgb(216, 135, 135);
}
.nav-link a:hover{
    color:#ff0000;
    background-color: whitesmoke;
    padding:10px;
    border-radius: 10px;
}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.social-media a{
    text-decoration: none;
    color:rgb(216, 135, 135);
    font-size: 30px;
    margin-top: 10px;
}
.social-media a:hover{
    color:#ff0000;
}
.copyright-wrapper{
    color: brown;
}
