/* Services Page Styling */
.service-page{
    background-color: #f2f2f2;
    margin-top: 30px;
}
.service-page h2{
    text-align: center;
    font-size:35px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
}
.service-page > .underline{
    margin: auto;
    height: 3px;
    margin-top: 3px;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    width: inherit;
    height: auto;

}
.service-item img{
    object-fit: contain;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}


